.TracePageHeader {
  margin-bottom: 15px;
}

.TracePageHeader--titleRow {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.TracePageHeader--titleToggleViewButton {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.TracePageHeader--title {
  color: inherit;
  flex: 1;
  font-size: 1.7em;
  line-height: 1em;
  margin: 0 0 0 0;
}

.TracePageHeader--title.is-collapsible {
  margin-left: 0;
}

.TracePageHeader--overviewItems {
  padding-bottom: 0.5rem;
}

.TracePageHeader--overviewItemsDivider {
  margin: 0 0.5rem;
}

.TracePageHeader--archiveIcon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.TracePageHeader--backIcon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.TracePageHeader--rerootButton {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .TracePageHeader--titleRow {
    flex-direction: column;
    align-items: flex-start;
  }

  .TracePageHeader--title {
    margin-bottom: 0.5rem;
  }

  .TracePageHeader--archiveButtonText,
  .TracePageHeader--backToResultsText {
    display: none;
  }
}