version: 2
updates:
  - package-ecosystem: "npm"
    open-pull-requests-limit: 50
    directory: "/"
    schedule:
      interval: "daily"
    # we have too many dependency PRs today to rebase automatically
    rebase-strategy: "disabled"
    groups:
      babel:
        patterns:
          - "@babel/*"
          - "babel-loader"
      jest:
        patterns:
          - "jest*"
          - "babel-jest"
      eslint:
        patterns:
          - "@typescript-eslint/*"
          - "eslint"
          - "eslint*"
      vite:
        patterns:
          - "vite"
          - "@vitejs/*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
