{
  "env": {
    "browser": true,
    "jest": true,
    "jasmine": true
  },
  "extends": [
    "react-app",
    "airbnb",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "rules": {
    /* general */
    "arrow-parens": [1, "as-needed"],
    "comma-dangle": 0,
    "no-continue": 0,
    "no-plusplus": 0,
    "no-self-compare": 0,
    "no-underscore-dangle": 0,

    /* jsx */
    "jsx-a11y/no-static-element-interactions": 1,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/interactive-supports-focus": 0,

    /* react */
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 1,
    "react/require-default-props": 1,
    "react/no-array-index-key": 1,
    "react/sort-comp": [2, {
      "order": [
        "type-annotations",
        "statics",
        "state",
        "propTypes",
        "static-methods",
        "constructor",
        "lifecycle",
        "everything-else",
        "/^on.+$/",
        "render"
      ]
    }],

    /* import */
    "import/prefer-default-export": 1,
    "import/no-named-default": 0,
    "import/extensions": 0,

    "new-cap": [2, {
      "capIsNewExceptions": [
        "Immutable.Map",
        "Immutable.List",
        "Immutable.Set"
      ]
    }]
  }
}
