/* timeline */
.trace-page-timeline {
  margin-bottom: 0.5rem;
}

.trace-page-timeline--tick-container{
  position: relative;
  height: 1.25rem;
}

.trace-page-timeline--tick-container .span-graph--tick-header__label {
  font-size: 0.8rem;
  color: #717171;
}

.trace-page-timeline__graph--inactive {
  fill: #D6D6D5;
}

.timeline-scrubber {
  cursor: ew-resize;
}

.timeline-scrubber__line {
  stroke: #D6D6D5;
}

.timeline-scrubber__handle {
  stroke: #E5E5E4;
  fill: white;
}

.timeline-scrubber__handle--grip {
  r: 2;
  fill: #E5E5E4;
}