/* timeline */
.trace-page-timeline {
  margin-bottom: 0.5rem;
}

.trace-page-timeline--tick-container{
  position: relative;
  height: 1.25rem;
}

.trace-page-timeline--tick-container .span-graph--tick-header__label {
  font-size: 0.8rem;
  color: #717171;
}

.trace-page-timeline__graph--inactive {
  fill: #d6d6d5;
}

.timeline-scrubber {
  cursor: ew-resize;
}

.timeline-scrubber__line {
  stroke: #999;
  stroke-width: 1;
}

.timeline-scrubber:hover .timeline-scrubber__line {
  stroke: #777;
}


.timeline-scrubber__handle {
  stroke: #999;
  fill: #fff;
}

.timeline-scrubber:hover .timeline-scrubber__handle {
  stroke: #777;
}

.timeline-scrubber__handle--grip {
  r: 2;
  fill: #bbb;
}
.timeline-scrubber:hover .timeline-scrubber__handle--grip {
  fill: #999;
}
