.SpanBar--popoverAction {
  margin: 8px 0;
}

.SpanBar--rerootButton {
  background: #1890ff;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 8px;
}

.SpanBar--rerootButton:hover {
  background: #40a9ff;
}