.SpanBarRow {
  cursor: pointer;
  min-height: 1.7rem;
  font-size: 1rem;
  position: relative;
}

.SpanBarRow--multigraph {
  position: relative;
  width: 100%;
  height: 100%;
}

.SpanBarRow--timelineButtonsWrapper {
  position: absolute;
  right: 0.5rem;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
}

.SpanBarRow:hover .SpanBarRow--timelineButtonsWrapper {
  opacity: 1;
}

.SpanBarRow--timelineCollapseBtn {
  color: #666;
  font-size: 1.1rem;
  padding: 0 0.25rem;
  margin-right: 0.5rem;
}

.SpanBarRow--rerootBtn {
  color: #1890ff;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  border: 1px solid #1890ff;
  border-radius: 3px;
}

.SpanBarRow--rerootBtn:hover {
  background: #1890ff;
  color: #fff;
}

.SpanBarRow.is-expanded {
  background: #f5f5f5;
}

.SpanBarRow.is-matching-filter {
  background-color: #fffce4;
}

.SpanBarRow:hover {
  background: #f5f5f5;
}

.SpanBarRow:hover .span-name {
  text-decoration: underline;
}

.SpanBarRow.is-expanded .span-name {
  text-decoration: underline;
}

.SpanBarRow.is-expanded:hover {
  background: #eee;
}

.SpanBarRow.is-matching-filter:hover {
  background-color: #fff5d6;
}

.SpanBarRow.is-expanded.is-matching-filter {
  background-color: #fff5d6;
}

.SpanBarRow.is-expanded.is-matching-filter:hover {
  background-color: #ffeccf;
}

.span-name-column {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.span-name-wrapper {
  background: #f5f5f5;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.SpanBarRow:hover .span-name-wrapper {
  background: #eee;
}

.SpanBarRow--errorIcon {
  color: #db2828;
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}

.span-name {
  color: #000;
  cursor: pointer;
  flex: 1 1 auto;
  outline: none;
  overflow: hidden;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  position: relative;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

.span-name.is-detail-expanded {
  font-weight: bold;
}

.endpoint-name {
  color: #999;
}

.span-svc-name {
  margin-right: 0.25rem;
  font-weight: bold;
}

.span-svc-name--theme {
  color: #fff;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
}

.span-view {
  position: relative;
}