.span-graph--tick {
  stroke: #E5E5E4;
  opacity: 0.5;
}

.span-graph--tick-header {
  position: relative;
}

.span-graph--tick-header__label {
  position: absolute;
  top: 0;
  width: auto;
  user-select: none;
  cursor: default;
}
