.span-graph--tick {
  stroke: #e5e5e4;
  opacity: 0.5;
  stroke-width: 2px;
}

.span-graph--tick-header {
  position: relative;
}

.span-graph--tick-header__label {
  position: absolute;
  top: 0;
  width: auto;
  user-select: none;
  cursor: default;
}
