html {
  font-family: Arial, Helvetica, sans-serif;
}

.DemoGraph {
  border: 1px solid blue;
  overflow: hidden;
  height: 500px;
  width: 800px;
  position: relative;
}

.Node {
  background: #eee;
  border: 1px solid #ddd;
  line-height: 1.4;
  padding: 0.3em 0.5em;
}
