html {
  font-family: Arial, Helvetica, sans-serif;
}

.DemoGraph {
  border: 1px solid blue;
  overflow: hidden;
  height: 500px;
  width: 800px;
  position: relative;
}

.DemoGraph--dag {
  background: #999;
  stroke-width: 1.7;
}

.DemoGraph--dag.is-small {
  stroke-width: 1;
}

.DemoGraph--node {
  background: #fff;
  border: 1px solid #666;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.4);
  padding: 0.8em 1.25em;
}

.DemoGraph--dag.is-small .DemoGraph--nodeLabel {
  opacity: 0;
}

/* DAG minimap */

.Demo--miniMap {
  align-items: flex-end;
  bottom: 1rem;
  display: flex;
  left: 1rem;
  position: absolute;
  z-index: 1;
}

.Demo--miniMap > .plexus-MiniMap--item {
  border: 1px solid #333;
  background: #555;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  margin-right: 1rem;
  position: relative;
}

.Demo--miniMap > .plexus-MiniMap--map {
  /* dynamic width, height */
  box-sizing: content-box;
}

.Demo--miniMap .plexus-MiniMap--mapActive {
  /* dynamic: width, height, transform */
  background: #bbb;
  outline: 1px solid #333;
  position: absolute;
}

.Demo--miniMap > .plexus-MiniMap--button {
  color: #bbb;
  cursor: pointer;
  font-size: 1.6em;
  line-height: 0;
  padding: 0.1rem;
}

.Demo--miniMap > .plexus-MiniMap--button:hover {
  background: #444;
  color: #ddd;
}
