name: "Lint and Build"

on:
  merge_group:
  pull_request:
    branches: [main]
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ (github.event.pull_request && github.event.pull_request.number) || github.ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: npm
          node-version-file: '.nvmrc'
      - run: npm ci
      - name: Run depcheck
        run: npm run depcheck
      - run: npm run lint
      - run: npm run build
      - name: Ensure PR is not on main branch
        uses: jaegertracing/jaeger/.github/actions/block-pr-from-main-branch@main

  validate-renovate-config:
    runs-on: ubuntu-latest
    steps:
    - uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
      with:
        egress-policy: audit

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        submodules: false

    - name: validate renovate config
      run: |
        docker run \
          -v $PWD/renovate.json:/usr/src/app/renovate.json \
          ghcr.io/renovatebot/renovate:latest \
          renovate-config-validator
