name: "Lint and Build"

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ (github.event.pull_request && github.event.pull_request.number) || github.ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          cache: yarn
          node-version: '20'
      - run: yarn install --frozen-lockfile
      - name: Run depcheck
        run: yarn run depcheck
      - run: yarn lint
      - run: yarn build
      - name: Ensure PR is not on main branch
        uses: jaegertracing/jaeger/.github/actions/block-pr-from-main-branch@main

