name: Publish release

on:
  release:
    types:
      - published

# See https://github.com/jaegertracing/jaeger/issues/4017
# and https://github.com/ossf/scorecard/blob/main/docs/checks.md#token-permissions
permissions:
  deployments: write
  contents: write

jobs:
  publish-release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          cache: yarn
          node-version: '18'
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn build
        id: yarn-build

      - name: Package artifacts
        id: package-artifacts
        run: tar -czvf ./assets.tar.gz --strip-components=3  packages/jaeger-ui/build/
        if: steps.yarn-build.outcome == 'success'

      - name: Upload artifacts
        uses: svenstaro/upload-release-action@1beeb572c19a9242f4361f4cee78f8e0d9aec5df
        with:
          file: 'assets.tar.gz'
          overwrite: true
          tag: ${{ github.ref }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        if: steps.package-artifacts.outcome == 'success'
