name: "Unit Tests"

on:
  push:
    branches: [jest-boost]

  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ (github.event.pull_request && github.event.pull_request.number) || github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  unit-tests:
    strategy:
      matrix:
        workers: [8] # Adjust the number of workers as needed
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          cache: yarn
          node-version: '18'
      - run: yarn install --frozen-lockfile
      - run: yarn coverage
      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
          verbose: true
          # Using upload token helps against rate limiting errors.
          # Cannot define it as secret as we need it accessible from forks.
          # See https://github.com/codecov/codecov-action/issues/837
          token: 31c3122b-7b49-4267-a117-8c9354a97119
