name: "Unit Tests"

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-node@v3
        with:
          node-version: "10"
      - name: install yarn
        run: |
          curl -o- -L https://yarnpkg.com/install.sh | bash
          echo $HOME/.yarn/bin >>"$GITHUB_PATH"
          echo $HOME/.config/yarn/global/node_modules/.bin >>"$GITHUB_PATH"
      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn build
      - run: yarn coverage
      - name: Upload coverage to codecov.io
        run: |
          yarn global add codecov
          codecov
