@font-face {
    font-family: 'chor-editor';
    src: url('../font/chor-editor.eot?66206553');
    src: url('../font/chor-editor.eot?66206553#iefix') format('embedded-opentype'),
    url('../font/chor-editor.woff2?66206553') format('woff2'),
    url('../font/chor-editor.woff?66206553') format('woff'),
    url('../font/chor-editor.ttf?66206553') format('truetype'),
    url('../font/chor-editor.svg?66206553#chor-editor') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'chor-editor';
    src: url('../font/chor-editor.svg?66206553#chor-editor') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "chor-editor";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-folder:before { content: '\e801'; } /* '' */
.icon-doc-new:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */